@page "/login"
@layout LoginLayout
@inherits Crm.Pages.LoginComponent

@using Radzen
@using Radzen.Blazor
@using Crm.Models.Crmdata
@using Microsoft.AspNetCore.Identity;
@using Crm.Models
@using Microsoft.AspNetCore.Authorization
<PageTitle>Login</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Login">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Action="@($"account/login?redirectUrl={redirectUrl}")" Data="@("login")" Method="post">
          <ChildContent>
            <RadzenLogin AllowRegister="true" AllowResetPassword="true" RegisterMessageText="Vous n'avez pas encore de compte?" UserRequired="Email is required" UserText="Email" Register="@Login0Register">
            </RadzenLogin>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
